@charset "ISO-8859-1";

body {	
	font-family: "Tahoma"
}

#login_form{
	border: solid;
	position: absolute;
	width: 30%;
	height: 30%;
	top: 35%;
	right: 35%;
	text-align: center;
}

input[type=text]{
	display: inline-block;
	margin: 5%;
}

button{
	background-color: white; 
  	color: black; 
  	border: 2px solid #4CAF50;
  	padding: 1%;
  	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
	background-color: #4CAF50;
  color: white;
}