@charset "ISO-8859-1";

body {	
	font-family: "Tahoma";
	text-align: center;
}

#signupform {
	display: inline-block;
}

label {
	display: inline-block;
	width: 10em;
}

select{
	width: 13em;
}

div {
	margin-bottom: 1em;
}


/*input[type=submit]{
	background-color: blue; 
  	color: white; 
  	border: none;
  	padding: 1%;
  	-webkit-transition-duration: 0.4s;
  	transition-duration: 0.4s;
}*/