@charset "ISO-8859-1";
label {
	display: block;
}
.propertyinfo{
	margin-bottom: 2em;
	margin-left: 2em;
}

#renterinfo input{
	margin-bottom: 1em;
	width: 4em;
}

#renterinfo select{
	margin-bottom: 1em;
	width: 4em;
}